.App {
	font-family: "Quicksand", sans-serif;
}

.App .card {
	max-width: 700px;
	display: block;
	margin: 0 auto;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(
			45deg,
			rgb(159, 131, 216),
			rgb(27, 245, 241)
		)
		1;
}

.App h1 {
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
	font-weight: 400;
	font-size: 26px;
	color: #757575;
}

.App h1 span {
	font-family: brevia, sans-serif;
	font-weight: 700;
}

.App footer {
	text-align: center;
	color: #757575;
}

.App .portfolioLink {
	text-decoration: none;
	font-weight: 800;
	color: rgb(159, 131, 216);
	transition: all 425ms ease-in-out;
}

.App .portfolioLink:hover {
	color: rgb(27, 245, 241);
}

.App .githubLink {
	text-decoration: none;
	font-weight: 800;
	color: rgb(27, 245, 241);
	transition: all 425ms ease-in-out;
}

.App .githubLink:hover {
	color: rgb(159, 131, 216);
}
