.WeatherForecastDay .weatherCondition {
	font-size: 11px;
}

@media (max-width: 766px) {
	.WeatherForecastDay .day,
	.temperature {
		font-size: 14px;
	}

	.WeatherForecastDay .weatherCondition {
		font-size: 10px;
	}
}

@media (max-width: 527px) {
	.WeatherForecastDay .weatherCondition {
		display: none;
	}
}

@media (max-width: 425px) {
	.WeatherForecastDay .day,
	.temperature {
		font-size: 11px;
	}
}
