.WeatherForm button {
	position: relative;
	bottom: 2px;
	background: linear-gradient(
		110.9deg,
		rgb(159, 131, 216) 2.6%,
		rgb(27, 245, 241) 100.2%
	);
	color: white;
	border: none;
	border-radius: 0px;
	font-size: 14px;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
	padding: 10px 26px;
	transition: all 425ms ease-in-out;
}

.WeatherForm button:hover {
	background: white;
	color: rgb(159, 131, 216);
	border-style: solid;
	border-width: 2px;
	border-image: linear-gradient(
			45deg,
			rgb(159, 131, 216),
			rgb(27, 245, 241)
		)
		1;
}

.WeatherForm .searchBox {
	border: 1px solid #cecece;
	border-radius: 0;
}

.WeatherForm h3,
li,
small {
	position: relative;
}

.WeatherForm h3 {
	color: #757575;
	font-size: 48px;
	font-weight: 600;
	left: 45px;
	top: 20px;
}

.WeatherForm small {
	font-size: 22px;
	bottom: 18px;
}

.WeatherForm li {
	text-align: left;
	list-style: none;
	font-size: 16px;
	color: #757575;
	right: 46px;
}
